---
import Layout from '../layouts/Layout.astro';
import QuizCard from '../components/QuizCard.astro';
import questionsArray from '../utils/questionsArray';
let nr : number = 0;

---

<Layout title="Little quiz 🚀">
	<main>
	<QuizCard
		nr={questionsArray[nr].nr}
		question={questionsArray[nr].question}
		answer1={questionsArray[nr].answer1.answer}
		isCorrect1={questionsArray[nr].answer1.isCorrect}
		answer2={questionsArray[nr].answer2.answer}
		isCorrect2={questionsArray[nr].answer2.isCorrect}
		answer3={questionsArray[nr].answer3.answer}
		isCorrect3={questionsArray[nr].answer3.isCorrect}
		answer4={questionsArray[nr].answer4.answer}
		isCorrect4={questionsArray[nr].answer4.isCorrect}
	/>
	</main>
	<button id="nextquestion" onclick={() => nr = nr+1}>Next question</button>
</Layout>

<style lang="scss"></style>

<script>
  function handleClick () {
	{nr = nr + 1}
  }
  document.getElementById("nextquestion").addEventListener("click", handleClick);
</script>
